In [1]:
import numpy as np
from sklearn.decomposition import PCA
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
%matplotlib inline

In [2]:
df = pd.read_csv("home_credit_final.csv")

In [3]:
df.head()

,SK_ID_CURR,train_CNT_CHILDREN_count,train_CNT_CHILDREN_mean,train_CNT_CHILDREN_max,train_CNT_CHILDREN_min,train_CNT_CHILDREN_sum,train_AMT_INCOME_TOTAL_count,train_AMT_INCOME_TOTAL_mean,train_AMT_INCOME_TOTAL_max,train_AMT_INCOME_TOTAL_min,...,payment_AMT_INSTALMENT_count,payment_AMT_INSTALMENT_mean,payment_AMT_INSTALMENT_max,payment_AMT_INSTALMENT_min,payment_AMT_INSTALMENT_sum,payment_AMT_PAYMENT_count,payment_AMT_PAYMENT_mean,payment_AMT_PAYMENT_max,payment_AMT_PAYMENT_min,payment_AMT_PAYMENT_sum
0,100002,1,0,0,0,0,1,202500.0,202500.0,202500.0,...,19.0,11559.247105,53093.745,9251.775,219625.695,19.0,11559.247105,53093.745,9251.775,219625.695
1,100003,1,0,0,0,0,1,270000.0,270000.0,270000.0,...,25.0,64754.586000,560835.360,6662.970,1618864.650,25.0,64754.586000,560835.360,6662.970,1618864.650
2,100004,1,0,0,0,0,1,67500.0,67500.0,67500.0,...,3.0,7096.155000,10573.965,5357.250,21288.465,3.0,7096.155000,10573.965,5357.250,21288.465
3,100006,1,0,0,0,0,1,135000.0,135000.0,135000.0,...,16.0,62947.088438,691786.890,2482.920,1007153.415,16.0,62947.088438,691786.890,2482.920,1007153.415
4,100007,1,0,0,0,0,1,121500.0,121500.0,121500.0,...,66.0,12666.444545,22678.785,1821.780,835985.340,66.0,12214.060227,22678.785,0.180,806127.975

In [5]:
df.shape

(307511, 1256)

In [6]:
# convert into numpy values
X = df.values

In [7]:
X

array([[1.00002000e+05, 1.00000000e+00, 0.00000000e+00, ...,
        5.30937450e+04, 9.25177500e+03, 2.19625695e+05],
       [1.00003000e+05, 1.00000000e+00, 0.00000000e+00, ...,
        5.60835360e+05, 6.66297000e+03, 1.61886465e+06],
       [1.00004000e+05, 1.00000000e+00, 0.00000000e+00, ...,
        1.05739650e+04, 5.35725000e+03, 2.12884650e+04],
       ...,
       [4.56253000e+05, 1.00000000e+00, 0.00000000e+00, ...,
        5.57518500e+03, 2.72700000e+01, 5.76228150e+04],
       [4.56254000e+05, 1.00000000e+00, 0.00000000e+00, ...,
        1.90658250e+04, 2.29644000e+03, 1.94556825e+05],
       [4.56255000e+05, 1.00000000e+00, 0.00000000e+00, ...,
        6.69251655e+05, 3.49650000e+01, 3.52581997e+06]])